<ul>
  <li *ngFor="let item of data">{{item.id}} - {{item.title}}</li>
</ul>

<h3>This work</h3>
<pagination [ngModel]="pageInfo1.page"
            (pageChanged)="pageChanged($event)"
            [totalItems]="pageInfo1.count"></pagination>

<h3>This not work</h3>
<pagination [ngModel]="pageInfo2.page"
            [totalItems]="pageInfo2.count"
            (pageChanged)="pageChanged($event)"></pagination>


<h3>This not work</h3>
<pagination [ngModel]="pageInfo3.page"
            [totalItems]="pageInfo3.count"
            (pageChanged)="pageChanged($event)"></pagination>